* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif; 
    color: #214E41;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 167%;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    background: #43806C;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

/* header */
.header {
    padding: 20px 0 31px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.logo__img {}

.nav {}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 0 0 60px;
}

.nav__item {
    margin: 0 20px;
}

.nav__link {
    color:#214E41;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 10px;
}

/* first-section */

.first-section {
    background-image: url("../images/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
    padding: 162px 0 50px;
}

.first-section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 128%;
    margin: 0 0 40px;
    max-width: 516px;

}

.first-section__text {
font-family: 'Raleway', sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 150%;
}

/* items */

.items {
    display: flex;
    background: #fff;
    box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
    border-radius: 6px;
    margin-top: -95px;
    padding: 0 40px;
}
.item {
    display: flex;
    width: 33.3333%;
    align-items: flex-start;
    padding: 50px 10px;
}

.item__img {}

.item__content {
    padding-left: 10px;    
}

.item__title {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;    
    line-height: 150%;
    margin: 0 0 10px;
}


.item__text {
    color:#757575;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 143%;
}

/* why-section */

.why-section {
    padding: 97px 0;
}

.why-section__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.why-section__content {    
    width: 43%; 
    padding: 0 0 0 58px;
}

.why-section__top {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 154%;
    text-transform: uppercase;
    letter-spacing: 0.05px;
    color: #43806C;
    margin: 0 0 20px;
}

.why-section__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 128%;
    margin: 0 0 30px;
}

.why-section__description {
    font-family: 'Raleway', sans-serif;    
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.02px;
    color: #757575;
    margin: 0 0 40px;
}

.why-section__link {
    display: inline-block;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid #214E41;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.02px; 
    color:#214E41;   
    line-height: 32px;
}
.why-section__link:visited {
    color:#214E41;
}

.why-section__img {}   