* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif; 
    color: #214E41;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 167%;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    background: #43806C;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

/* header */
.header {
    padding: 20px 0 31px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.logo__img {}

.nav {}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 0 0 60px;
}

.nav__item {
    margin: 0 20px;
}

.nav__link {
    color:#214E41;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 10px;
}

/* first-section */

.first-section {
    background-image: url("../images/photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
    padding: 162px 0 50px;
}

.first-section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 128%;
    margin: 0 0 40px;
    max-width: 516px;

}

.first-section__text {
font-family: Raleway;
font-size: 16px;
font-weight: 700;
line-height: 150%;
}

/* items */

.items {
    display: flex;
    background: #fff;
    box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
    border-radius: 6px;
    margin-top: -95px;
    padding: 0 40px;
}
.item {
    display: flex;
    width: 33.3333%;
    align-items: flex-start;
    padding: 50px 10px;
}

.item__img {}

.item__content {
    padding-left: 10px;    
}

.item__title {
    font-family: Raleway;
    font-size: 16px;    
    line-height: 150%;
    margin: 0 0 10px;
}


.item__text {

    color:#757575;
    font-family: Raleway;
    font-size: 14px;
    line-height: 143%;
}

.charttext2 {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.019999999552965164px;
    text-align: left;
    border-bottom: 3px solid #214E41;     
    padding-bottom: 15px;
    display: inline; 
        
}

.chartinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 120px;
    }

.container2 {
    width: 1200px;
    height: 171px;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 120px;
    top: 712px;
    background-color: #fff;
}

.list-item {
font-family: Raleway;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.intro-list {
    display: block;
    float:left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

.list {
    display: inline-block;
    width: 300px;
    height: 71px;
}

.row1 {
    padding: 50px;
}
